body {
    background: #111;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 30px 10px;
    background: #1b1b1b;
    border-bottom: 3px solid #444;
}

h1 {
    font-size: 32px;
    margin-bottom: 5px;
}

.subtitulo {
    color: #bbbbbb;
    font-size: 16px;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    padding: 20px;
}

.card {
    background: #1c1c1c;
    border: 1px solid #333;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 25px;
}

.grafico {
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background: #333;
}

td {
    background: #222;
}
